.head {
     float: left;
     width: 100%;
}

.search-box {
     width: 90%;
     margin: 0 auto 40px;
     box-shadow: 10px 13px 0 rgba(0, 0, 0, 0.2);
}

.listing-block {
     background: #fff;
     height: 500px;
     padding-top: 20px;
     overflow-y: scroll;
}

.slimScrollDiv {
     width: 41% !important;
}

.media {
     background: #fff;
     position: relative;
     margin-bottom: 15px;
}

.media img {
     width: 200px;
     margin: 0;
     height: 136px;
}

.media-body {
     border: 1px solid #bcbcbc;
     border-left: 0;
     height: 136px;
}

.media .price {
     float: left;
     width: 100%;
     font-size: 30px;
     font-weight: 600;
     color: #4765AB;
}

.media .price small {
     display: block;
     font-size: 17px;
     color: #232323;
}

.media .stats {
     float: left;
     width: 100%;
     margin-top: 10px;
}

.media .stats span {
     float: left;
     margin-right: 10px;
     font-size: 15px;
}

.media .stats span i {
     margin-right: 7px;
     color: #4765AB;
}

.media .address {
     float: left;
     width: 100%;
     font-size: 14px;
     margin-top: 5px;
     color: #888;
}

.media .fav-box {
     position: absolute;
     right: 10px;
     font-size: 20px;
     top: 4px;
     color: #E74C3C;
}

.map-box {
     background-color: #A3CCFF;
}


.jumbotron {
     text-align: center;
     padding-top: 10rem;
     padding-bottom: 10rem;
     text-shadow: 2px 2px #000;

}

.lead span {
     color: orange;
     font-weight: bold;
}

.bg-cover {
     background-size: cover;
     color: white;
     background-position:  center;
     position: relative;
     z-index: -2;
}

.overlay {
     background-color: #000;
     opacity: 0.5;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: -1;
}

